<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCbSwrxZH2bI_DNXqBJPAk3eqr53P4WpzY</string>
	<key>GCM_SENDER_ID</key>
	<string>1008482763016</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tesvan.ballhola</string>
	<key>PROJECT_ID</key>
	<string>ballhola</string>
	<key>STORAGE_BUCKET</key>
	<string>ballhola.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1008482763016:ios:c10fd66c8835aed15eecbd</string>
</dict>
</plist>